
.primera{
    height: 75px;
    width: 100%;
}

.logo{
    display: flex;
    height: 75px;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-left: 30px;
        img{
            border-radius: 50%;
            height: 65px;
            border: solid 1px #000000;
    }  
}
.logofrase{
    display: flex;
    height: 90px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
        h1{
            font-size: 50px;
            color:#29335c;
            font-weight: bold;
        }
}