
*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'DynaPuff', cursive;
}

header, .primera{
    height: 75px;
}

.logo{
    display: flex;
    height: 75px;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-left: 30px;  
}

.logo img{
    border-radius: 50%;
    height: 65px;
    border: solid 1px #000000;
}

.logofrase{
    display: flex;
    height: 90px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
}

.logofrase h1{
    font-size: 50px;
    color:#29335c;
    font-weight: bold;
    
}

.social_media{
    display: flex;
    height: 90px;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin-right: 30px;
}

.social_media a i{
    font-size: 25px;
}

@media screen and (max-width: 950px) {


}
    

nav{
    background-color: #29335c;
    height: 80px;
}

.checkbtn{
    font-size: 30px;
    color: #fff;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check{
    display: none;
}

.linkstyle{
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: end;
    list-style: none;
}

.linkstyle li .first{
    color: #000000;
    background-color: #ffffff;
    padding: 5px;
    text-decoration: none;
}

.linkstyle li a{
    font-size: 25px;
    color: #ffffff;
    padding: 15px;
    text-decoration: none; 
}

.carousel-item h5{
    /*font-family: 'Times New Roman', Times, serif;*/
    font-size: 40px;
    text-shadow: 2px 2px 4px #000000;
    color: #ffffff;
    text-transform: uppercase;
}

.carousel-item p{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    font-style: italic;
    text-shadow: 2px 2px 4px #000000;
    color: #ffffff;
}

.carousel-item img{
    border-top: solid 5px #db2b39;
    /*border-left: solid 2px #29335c;
    border-right: solid 2px #29335c;
    border-bottom: solid 2px #29335c;*/
} 

.modalidadv{
    position: relative;
}

.modalidadp{
    position: relative;
}

.modalidadv img, .modalidadp img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-top: solid 5px #f3a712;
    /*border-left: solid 2px #29335c;
    border-right: solid 2px #29335c;
    border-bottom: solid 2px #29335c;*/
}

.modalidadv p{
    display: block;
    position: absolute;
    /*font-family: 'Times New Roman', Times, serif;*/
    font-size: 40px;
    text-shadow: 2px 2px 4px #000000;
    bottom: 20px;
    margin-left: 10px;
    color: #ffffff;
    text-transform: uppercase;
}

.modalidadp p{
    display: block;
    position: absolute;
    /*font-family: 'Times New Roman', Times, serif;*/
    font-size: 35px;
    text-shadow: 2px 2px 4px #000000;
    bottom: 20px;
    margin-left: 10px;
    color: #ffffff;
    text-transform: uppercase;
}

.escuela h2{
    font-size: 30px;
    margin-top: 40px;
    margin-left: 30px;
    color: #29335c;
    /*font-family: 'Times New Roman', Times, serif;*/
}

.titulo hr{
    width: 70%;
    margin-left: 30px;
}

.escuela__imagenes{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.escuela__imagenes img{
    height: 200px;
    width: 300px;
    filter: sepia(70%);
    transition: all 0.3s ease-in-out; 
    margin-bottom: 20px;
}

.escuela__imagenes img:hover{
transform: scale(1.1);
box-shadow: 4px 4px 10px #000000;
filter: sepia(0%);
rotate: -5deg;
/*border-radius: 50%;
box-shadow: 0px 0px 5px 5px #000000;
transition: all 0.4s;*/
}

.foot{
    background-color: #29335c;
    border-top: solid 1px #000000;
}

.foot .foot__1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
}

.foot .foot__1 p{
    color: #ffffff;
    margin-left: 80px;
    margin-right: 80px;
    font-size: 12px;
}

/*#grid_container{
    display: grid;
    grid-template-areas: 
    "header"
    "nav"
    "main"
    "footer"    
;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
}

header{
    grid-area: header;
    height: 75px;
}

.tlogo{
    display: flex;
    height: 80px;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;    
}
.tlogo__redondo img{
    border-radius: 50%;
    height: 50px;
    margin-left: 10px;
    border: solid 1px #000000;
}

.tlogo__frase{
    font-size: 11px;
    color: #29335c;
}

#check{
    display: none;
}

.checkbtn{
    font-size: 25px;
    margin-right: 10px;
    color: #29335c;
}

.social_media{
    display:none;
}

nav{
    display: none;
    grid-area: nav;
    background-color: #29335c;
}

.menu{
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: end;
    list-style: none;
}

/*.menu li .first{
    color: #000000;
    background-color: #ffffff;
    padding: 5px;
}*/

/*.menu li a{
    font-size: 15px;
    color: #ffffff;
    margin: 5px;
}
/*media query header + nav cel, tablet pequeña*/
/*@media screen and (min-width: 500px) {
    .tlogo__redondo img{
        border-radius: 50%;
        height: 60px;
        margin-left: 15px;
        border: solid 1px #000000;
    }
    .tlogo__frase{
        font-size: 15px;
        color: #29335c;
        justify-content: center;
    }
    #check{
        display: none;
    }
    .checkbtn{
        display: none;
        font-size: 25px;
        margin-right: 10px;
        color: #29335c;
    }
    .social_media{
        display: flex;
        margin-right: 10px;
        font-size: 20px;
    }
    nav{
        display: block;
        grid-area: nav;
        background-color: #29335c;
    }
    .menu{
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: end;
        list-style: none;
    }
    
    .menu li .first{
        color: #000000;
        background-color: #ffffff;
        padding: 5px;
    }
    
    .menu li a{
        font-size: 18px;
        color: #ffffff;
        margin-right: 10px;
    }

    li a:hover{
        background-color: #ffffff;
        color: #000000;
        transition: all 0.5s;
        padding: 5px;
    }
}

/*media query header + nav notebook*/
/*@media screen and (min-width: 1000px) {
    .tlogo__redondo img{
        border-radius: 50%;
        height: 65px;
        margin-left: 15px;
        border: solid 1px #000000;
    }
    .tlogo__frase{
        font-size: 25px;
        color: #29335c;
        justify-content: center;
    }
    #check{
        display: none;
    }
    .checkbtn{
        display: none;
        font-size: 25px;
        margin-right: 10px;
        color: #29335c;
    }
    .social_media{
        display: flex;
        margin-right: 10px;
        font-size: 25px;
    }
    nav{
        display: block;
        grid-area: nav;
        background-color: #29335c;
    }
    .menu{
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: end;
        list-style: none;
    }
    
    .menu li .first{
        color: #29335c;
        background-color: #ffffff;
        padding: 5px;
    }
    
    .menu li a{
        font-size: 25px;
        color: #ffffff;
        margin-right: 10px;
        padding: 10px;
    }

    li a:hover{
        background-color: #ffffff;
        color: #29335c;
        transition: all 0.5s;
        padding: 5px;
    }

}

main{
    grid-area: main;
}

#portada{
    display: flex; 
    background-image: url('./Imagenes/chicos5.jpg');  
    background-repeat: no-repeat;
    background-size: 100% 350px;
    width: 100%;
    height: 350px;
    -webkit-box-shadow: 0px 9px 42px -8px rgba(0,0,0,0.84);
    -moz-box-shadow: 0px 9px 42px -8px rgba(0,0,0,0.84);
    box-shadow: 0px 9px 42px -8px rgba(0,0,0,0.84);
}

.frase{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-shadow: 5px 5px 5px #000000;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.frase p{
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
}

section{
    display: flex;
    flex-direction: column;
}

.escuela{
    margin-top: 15px;
    margin-left: 10px;
}

.escuela h2{
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}

hr{
    margin-top: 2px;
    width: 70%;
    margin-left: 10px;
}

.escuela__imagenes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.escuela__imagenes img{
    height: 90px;
    width: 160px;
    transition: all 0.3s ease-in-out;   
    /*transition: all 0.4s;*/
}

/*.escuela__imagenes img:hover{
    transform: scale(1.1);
    box-shadow: 4px 4px 10px #000000;
    filter: grayscale(100%);
    /*border-radius: 50%;
    box-shadow: 0px 0px 5px 5px #000000;
    transition: all 0.4s;*/
}

/*.escuela__imagenes-lugar{
    margin-top: 10px;
    border-top: solid 5px #f3a712;
    border-left: solid 2px #29335c;
    border-right: solid 2px #29335c;
    border-bottom: solid 2px #29335c;
}

.escuela__imagenes .escuela__imagenes-frase{
    display: none;
}

.escuela__imagenes-chicos1{
    margin-top: 10px;
    border-top: solid 5px #db2b39;
    border-left: solid 2px #29335c;
    border-right: solid 2px #29335c;
    border-bottom: solid 2px #29335c;
}

.escuela__imagenes-chicos2{
    margin-top: 10px;
    border-top: solid 5px #cbf7ed;
    border-left: solid 2px #29335c;
    border-right: solid 2px #29335c;
    border-bottom: solid 2px #29335c;
}

.escuela__imagenes p{
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
}

/*media main cel, tablets pequeñas*/
/*@media screen and (min-width: 500px) {
    .frase{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-shadow: 5px 5px 5px #000000;
        margin: auto;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
    }
    .frase p{
        font-family: 'Times New Roman', Times, serif;
        font-style: italic;
        font-size: 25px;
        font-weight: bold;
        color: #ffffff;
    }
    .escuela h2{
        font-size: 25px;
        font-family: 'Times New Roman', Times, serif;
    }

    .escuela__imagenes img{
        height: 150px;
        width: 250px;
    }

}

/*media main notebook*/
/*@media screen and (min-width: 1000px) {
    #portada{
        display: flex; 
        background-image: url('./Imagenes/chicos5.jpg');  
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 700px;
        -webkit-box-shadow: 0px 9px 42px -8px rgba(0,0,0,0.84);
        -moz-box-shadow: 0px 9px 42px -8px rgba(0,0,0,0.84);
        box-shadow: 0px 9px 42px -8px rgba(0,0,0,0.84);
    }
    
    .frase{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-shadow: 5px 5px 5px #000000;
        margin: auto;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
    }
    .frase p{
        font-family: 'Times New Roman', Times, serif;
        font-style: italic;
        font-size: 50px;
        font-weight: bold;
        color: #ffffff;
    }
    .escuela h2{
        font-size: 30px;
        font-family: 'Times New Roman', Times, serif;
    }

    .escuela__imagenes {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-left: 50px;
    }

    .escuela__imagenes img{
        height: 200px;
        width: 300px;
    }

    .escuela__imagenes .frasefoto{
       display: none;
    }

    .escuela__imagenes .escuela__imagenes-frase{
        display: block;
        position: absolute;
        bottom: -405px;
        margin-left: 10px;
        color: #ffffff;
        font-size: 25px;
        text-transform: uppercase;
        text-shadow: 2px 2px 2px #000000;
    }

}

footer{
    grid-area: footer;
    background-color: #29335c;
    margin-top: 10px;
    margin-bottom: 10px;
    border-top: solid 1px #db2b39;
}

.datos{
    font-size: 10px;
    color: #ffffff;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 10px;
}

.social_media_footer a i{
    font-size: 12px;
    color: #ffffff;
    margin-left: 10px;
}

/*media main*/
/*@media screen and (min-width: 500px) {
    .datos{
        font-size: 15px;
        color: #ffffff;
        margin-top: 5px;
        margin-bottom: 5px;
        margin-left: 10px;
    }

    .social_media_footer{
      display: none;
    }

@media screen and (min-width: 1000px) {
    footer{
        grid-area: footer;
        height: 75px;
        background-color: #29335c;
        margin-top: 20px;
        margin-bottom: 10px;
        border-top: solid 1px #db2b39;
    }
        .datos{
            display: flex; 
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            height: 65px; 
            font-size: 15px;
            color: #ffffff;
            margin-top: 5px;
            margin-bottom: 5px;
            margin-left: 250px;
            margin-right: 250px;
        }
        
        .social_media_footer{
          display: none;
        }

}*/