$primary-color: #29335c;
$border-color: #000000;
$secundary-color: #ffffff;
$first-color: #e63946;
$bordertopone-color: #db2b39;
$bordertoptwo-color: #f3a712;
$bordertopthree-color:#7ebc89;
$niveles_background: #fffcf9;
$background: #fffcf9;
$background2: #e9c46a;
$cardfontcolor: #6a6a6a




